#introducao {
    color: blue;
}

.codigo {
    color: orange;
}

.design {
    color: red;
}

.blue {
    color: blue;
}

.underline {
    text-decoration: underline;
}

.grande {
    font-size: 32px;
}
