/* Por padrão o body já tem uma margin predefinida */
body {
    margin: 0;
}

#container {
    background: #aaa;
    /* Por padrão o width é definido como auto */
    /* Auto significa: Pega o tamanho total do atributo pai */
    width: 140px;
    height: 80px;
    /* Adiciona uma margem interna */
    /* O total da largura é a soma do width + padding left + padding right */
    /* O total da largura é a soma do height + padding top + padding bottom */
    padding: 30px;
    /* Adiciona uma borda e também soma os pixels finais */
    border: 10px solid #111;
    /* Adiciona uma margem externa */
    margin: 30px;
}

h1 {
    background: #84e;
    padding: 20px;
    border: 4px solid #111;
    /* No CSS as margens se colidem, então a que for maior "vence" */
    margin: 30px;
}
